body {
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: cover;
    background: #000000 linear-gradient(180deg, #660404 49.85%, rgba(0, 0, 0, 0) 100%) no-repeat center;
}


header {

}

header a {
    text-decoration: none;
    color: #fff;
}

.header_nav {
    width: 100%;
    background: #000000;
}

.logo_img {
    width: 70px;
    border-radius: 50px;
}

.logo_text {
    font-size: 24px;
    color: #fff;
    height: 70px;
}

.logo_text h2 {
    line-height: 2;
}

.heart_img {
    width: 33px;
    margin-top: 24px;
}

.heart_img:hover{
    width: 35px;
    transition: 0.3s;
}

.basket_img {
    width: 33px;
    margin-top: 24px;
}

.basket_img:hover{
    width: 35px;
    transition: 0.3s;
}

.logo_text {
    width: 100px;
    margin: 0 auto;
}

.btns{
    padding-top: 24px;
    height: 33px;
}
.button_login {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background: #515151;
    border-radius: 13.5px;

}

.button_login:hover {
    color: #fff;
    background: #3F3F3F;
    transition: 0.3s;
}

.button_register {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
    background: #515151;
    border-radius: 13.5px;
    margin-left: 5px;
}

.button_register:hover{
    color: #fff;
    background: #3F3F3F;
    transition: 0.3s;
}

.nav_body {
    height: 29px;
    width: 100%;
    background: #000000;
}

.nav_body a:hover{
    color: #fff;
}

.nav_1 {
    font-size: 14px;
}

.nav_2 {
    font-size: 14px;
    margin: 0 auto;
}

.nav_3 {
    font-size: 14px;
}

.main_section{
    background: white;
    margin: 0px;
    padding-top: 20px;
}

div{
    margin: 0px;
    padding: 0px;
}


.filter{
    background: #ffffff;
    border: solid black;
}

.tovar{
    margin: 10px;
    border: solid black;
}
