{% extends 'base.html' %}

{% block body %}

    <section>
        <div class="container main_section">
              <div class="profile">
                <row class="row justify-content-center">
                    <div class="acc_info col-8">
                        <row>
                            <div><p>12321321312312</p> </div>
                        </row>

                        <row>
                            <div><p>12412421412421421</p></div>
                        </row>
                    </div>
                    <div class="acc_img col-4">
                        <img src="../static/img/logo_project.png" width="300" height="300">
                    </div>
                </row>
              </div>

              <div class="buying">



              </div>



        </div>
    </section>

{% endblock %}