{% extends 'base.html' %}

{% block body %}
    <section>
    <div class="container main_section">
        <row class="row justify-content-between">
            <div class="filter col-2">
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
                <p> saodosadoasooda </p>
            </div>

            <div class="staff col-10">
                <row class="row justify-content-between">
                <div class="tovar col-5">
                    <img src="../static/img/materynka.jpg" height="160" width="160">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minima quam. Animi asperiores dicta earum error, illo laboriosam libero magni natus nulla officiis perspiciatis qui rerum sed sint veniam voluptatem!</p>
                    <button>Open</button>
                </div>
                 <div class="tovar col-5">
                    <img src="../static/img/materynka.jpg" height="160" width="160">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, minima quam. Animi asperiores dicta earum error, illo laboriosam libero magni natus nulla officiis perspiciatis qui rerum sed sint veniam voluptatem!</p>
                    <button>Open</button>
                </div>
                    </row>
            </div>
        </row>
        
    </div>
    </section>
{% endblock %}