{% extends 'base.html' %}

{% block body %}
    <section>
    <div class="container main_section">
    <row class="row justify-content-between">
        <div class="main_img col-2 ">
            <img src="../static/img/materynka.jpg" height="160" width="160">
        </div>
        <div class="col-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum, distinctio doloribus earum et explicabo iste itaque labore laborum libero magni nihil nulla qui quia quis quo similique suscipit tempore.</p>
        </div>
    </row>

     <row class="row justify-content-between">
        <div class="col-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum, distinctio doloribus earum et explicabo iste itaque labore laborum libero magni nihil nulla qui quia quis quo similique suscipit tempore.</p>
        </div>
        <div class="main_img col-2 ">
            <img src="../static/img/materynka.jpg" height="160" width="160">
        </div>
    </row>

    <row class="row justify-content-between">
        <div class="main_img col-2 ">
            <img src="../static/img/materynka.jpg" height="160" width="160">
        </div>
        <div class="col-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum, distinctio doloribus earum et explicabo iste itaque labore laborum libero magni nihil nulla qui quia quis quo similique suscipit tempore.</p>
        </div>
    </row>

    <row class="row justify-content-between">
        <div class="col-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum, distinctio doloribus earum et explicabo iste itaque labore laborum libero magni nihil nulla qui quia quis quo similique suscipit tempore.</p>
        </div>
        <div class="main_img col-2 ">
            <img src="../static/img/materynka.jpg" height="160" width="160">
        </div>
    </row>

        </div>


    </section>
{% endblock %}