{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
     <section>
         <div class="container main_section">
            <form class="form-signin" method="POST" action="/login">
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.username) }}


                <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                     </label>
        </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
         </div>
     </section>
{% endblock %}
